
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 w-auto">
                <img [src]="githubProfile.avatar_url" width="50">
            </div>
            <div class="col-md-8 align-self-center">
                <h4>{{githubProfile.name}}</h4>
            </div>
        </div>
        <p class="card-text">{{githubProfile.bio}}</p>
        <a [href]="githubProfile.html_url" target="_blank" class="btn btn-success btn-sm">Profil</a>
    </div>
</div>