<div class="card-body">
    <form class="form-inline" (submit)="searchUsers()">
        <div class="form-group">
            <input [(ngModel)]="githubUserQuery" name="user" size="30" class="form-control" placeholder="GitHub username">
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-success btn-sm mt-3">
        </div>
    </form>
</div>

<div class="row">
    <div *ngFor="let githubUser of githubResults.items">
        <app-user-details [githubUser]="githubUser"></app-user-details>
    </div>
</div>